################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SoundNavigationF21/v15/ipch/AutoPCH/546d6f36368dc7d5
/.vs/SoundNavigationF21/v15
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
